%h1 Welcome to our site!

%div.movies
  - @movies.each do |movie|
    %h3
      = link_to movie.title, movie
    - movie.genres.each do |genre|
      %div.label.label-primary
        = genre.name

%hr

%div.genres
